html{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(190, 255, 204);
    
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 110px;
  }

